<h2>{{paginaActual}} / {{numPaginas}}</h2>

<div class="botones">
  <button (click)="onClick(false)" [disabled]="paginaActual === 1">Anterior</button>
  <button (click)="onClick(true)" [disabled]="paginaActual === numPaginas">Siguiente</button>
</div>

<div class="personajes">
  <div class="personaje" *ngFor="let personaje of personajes"
    [ngClass]="{ vivo: (personaje.status === 'Alive'), muerto: (personaje.status === 'Dead')}">
    <h2>{{personaje.name}}</h2>
    <img [src]="personaje.image" alt="">
    <p>Especie: {{personaje.species}}</p>
    <p>Planeta: {{personaje.origin.name}}</p>
  </div>
</div>